---
layout: default
images:
    -   image_path:/assets/img/services/logos/l1.jpg
        title:
    -   image_path:/assets/img/services/logos/l2.jpg
        title:
    -   image_path:/assets/img/services/logos/l3.jpg
        title:
---

<ul class="photo-gallery">
    {% for image in page.images %}
        <li><img src="{{ image.image_path }} " alt="{{ image.title }}"/></li>
    {% endfor %}
</ul>

<style>
.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
}

.photo-gallery li {
	display: inline-block;
	width: 33%;
}

.photo-gallery li img {
	width: 100%;
}
</style>