.service-teaser img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border : 1px solid #000;
}

.service-content a {
    margin-top: 15px;
    color: white;
    text-decoration: underline;
}

.service-content p {
    margin-top: 5px;
    color: white;
}

.service-content-home a {
    margin-top: 15px;
    color: $primary;
}

.service-content-home p {
    margin-top: 5px;
    color: black;
}